$font-size: 14;
$font-family-Montserrat: 'Montserrat', sans-serif;
$font-family-Poppins: 'Poppins', sans-serif;
$font-family-Roboto: 'Roboto', sans-serif;

$text-color: #1F1F1F;
$black-text-color: #000000;
$dark-gray-text-color: #585858;
$gray-text-color: #818181;
$light-gray-text-color: #B7B7B7;
$sub-text-color: #8A8FB9;
$error-text-color: #FF1B44;

$black-color: #1F1F1F;
$full-black-color: #000000;
$orange-color: #ED553B;
$white-color: #FFFFFF;
$milk-color: #F7F4F2;
$footer-bg-color: #FAFAFA;

$border-color: #D1D1D1;

$container-width: 1440;
$container-padding: 30;
$container-max-width: $container-width + $container-padding;

$section-margin-bottom: 150;
$section-margin-bottom-tablet: 100;
$section-margin-bottom-mobile: 75;

$tablet: 992;
$tablet-mini: 768;
$mobile: 576;
$mobile-mini: 420;
